<form method="POST" action="/register">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" required>

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" required>

    <label for="email">Email</label>
    <input type="email" name="email" required autocomplete="current-emaily">

    <label for="age">Age</label>
    <input type="number" name="age" required>

    <label for="password">Password</label>
    <input type="password" name="password" required autocomplete="current-password">

    <button type="submit">Register</button>
</form>