<!DOCTYPE html>
<html>
<head>
    <title>Restablecer password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <H1>Restablecer Password</H1>
    <form method="POST" action="/restore">
        <label for="email">Email</label>
        <input type="email" name="email" value="{{email}}" required>
        <label for="password">Nueva contraseña</label>
        <input type="password" name="password" required>
        <button type="submit">Restaurar contraseña</button>
    </form>

    <script src="./scripts/userscript.js"></script>
</body>

</html>

